[Unit]
Description=Monitor SMTP AUTH errors
After=syslog.target network.target 

[Service]
Type=simple
LimitNOFILE=16384
EnvironmentFile=/etc/sysconfig/auth-monitor-sm-msp
#ExecStartPre=
ExecStart=/opt/sys-tools/bin/auth-monitor --online --profile sm-msp $MONITOR_OPTS
ExecStop=kill $MonitorPid

[Install]
WantedBy=multi-user.target
