[Unit]
Description=Monitor SSH AUTH errors
After=syslog.target network.target 

[Service]
Type=simple
LimitNOFILE=16384
EnvironmentFile=/etc/default/auth-monitor-ssh
#ExecStartPre=
ExecStart=/opt/fw-tools/bin/auth-monitor --online --profile ssh $MONITOR_OPTS
ExecStop=/bin/kill $MonitorPid

[Install]
WantedBy=multi-user.target
