[Unit]
Description=Monitor SMTP AUTH errors
After=syslog.target network.target 

[Service]
Type=simple
LimitNOFILE=16384
EnvironmentFile=/etc/default/auth-monitor-smtp
#ExecStartPre=
ExecStart=/opt/fw-tools/bin/auth-monitor --online --profile postfix $MONITOR_OPTS
ExecStop=/bin/kill $MonitorPid

[Install]
WantedBy=multi-user.target

